/*style elements for the container*/
.container {
    padding: 25px;
    background-color:#D3D3D3;
    text-align: center;
    /*add border elements to the container*/
    border: 3px solid black;
    width: 400px;
    margin: 0 auto;
    position: absolute;
    /*below code places login page in center of page*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*style login-button*/
#login-button {
    background-color: #2565AE;
    color: white;
    text-align: center;
}

/*style guest-button*/
#guest-button {
    background-color: #D5F3FE;
    color: black;
}

/*style create-account*/
#create-account{
    background-color: white;
    color: black;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

/*center the text within the input box*/
input{
    text-align: center;
}

h1{
    text-align: center;
}